@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body, .mat-app-background {
  background: #e7edf2;
}

.form-container, .home-container {
  width: 33%;
  margin: 40px auto;
}

.form-field {
  width: 100%;
}

.error-card {
  margin-bottom: 20px;
}

.error-card > span {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  width: 100%;
}

.error-icon, .submit-button {
  margin-right: 15px;
}

.close-button {
  margin-left: auto !important;
}

.basic-flow button, .basic-flow a {
  margin-right: 20px;
}
