<div class="form-container">
  <mat-card class="error-card" *ngIf="showExpiredMsg">
    <span>
      <mat-icon class="error-icon" color="warn">error</mat-icon>
      <span>
        Two factor authorization token has expired.  You will need to login again
        <a color="primary" routerLink="/login">here</a>.
      </span>
      <button mat-icon-button class="close-button" (click)="showExpiredMsg = !showExpiredMsg"><mat-icon>close</mat-icon></button>
    </span>
  </mat-card>

  <mat-card class="error-card" *ngIf="showInvalidCodeMsg">
    <span>
      <mat-icon class="error-icon" color="warn">error</mat-icon>
      The code you entered is invalid.
      <button mat-icon-button class="close-button" (click)="showInvalidCodeMsg = !showInvalidCodeMsg"><mat-icon>close</mat-icon></button>
    </span>
  </mat-card>

  <form [formGroup]="mainForm">
    <mat-card>
      <mat-card-title>Two Factor Challenge</mat-card-title>
      <mat-card-subtitle>Enter your Verification Code</mat-card-subtitle>
      <mat-card-content>
        <input type="hidden" formControlName="twoFactorId">
        <mat-form-field class="form-field">
          <input matInput placeholder="Authentication code" formControlName="code">
          <mat-error *ngIf="mainForm.hasError('required', 'code')">
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-checkbox color="primary" formControlName="trustComputer">Trust this computer for 30 days</mat-checkbox>
      </mat-card-content>
      <mat-card-actions>
         <button mat-stroked-button class="submit-button" (click)="submit()">Submit</button>
       </mat-card-actions>
    </mat-card>
  </form>
</div>
