<div class="form-container">
  <app-error-message [(show)]="showErrorExpired">
    Two factor authorization token has expired.  You will need to login again
    <a color="primary" routerLink="/login">here</a>.
  </app-error-message>
  <app-error-message [(show)]="showErrorInvalidCode">
    The code you entered is invalid.
  </app-error-message>

  <form [formGroup]="mainForm">
    <mat-card>
      <mat-card-title>Two Factor Challenge</mat-card-title>
      <mat-card-subtitle>Enter your Verification Code</mat-card-subtitle>
      <mat-card-content>
        <input type="hidden" formControlName="twoFactorId">
        <input type="hidden" formControlName="device">
        <mat-form-field class="form-field">
          <input matInput placeholder="Authentication code" formControlName="code">
          <mat-error *ngIf="mainForm.hasError('required', 'code')">
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-checkbox color="primary" formControlName="trustComputer">Trust this computer for 30 days</mat-checkbox>
      </mat-card-content>
      <mat-card-actions>
         <button mat-stroked-button class="submit-button" (click)="submit()">Submit</button>
       </mat-card-actions>
    </mat-card>
  </form>
</div>
