<div class="form-container">
  <app-error-message [(show)]="showErrorDuplicateEmail">
    A user with that email already exists.
  </app-error-message>

  <form [formGroup]="mainForm">
    <mat-card>
      <mat-card-title>
        Register
      </mat-card-title>
      <mat-card-content>
        <mat-form-field class="form-field">
          <input matInput placeholder="First Name" formControlName="firstName">
          <mat-error *ngIf="mainForm.hasError('required', 'firstName')">
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
          <input matInput placeholder="Last Name" formControlName="lastName">
          <mat-error *ngIf="mainForm.hasError('required', 'lastName')">
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <!-- <mat-form-field class="form-field">
          <input matInput placeholder="Username" formControlName="username">
          <mat-error *ngIf="mainForm.hasError('required', 'username')">
            <strong>required</strong>
          </mat-error>
        </mat-form-field> -->
        <mat-form-field class="form-field">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="mainForm.hasError('required', 'email')">
            <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="mainForm.hasError('email', 'email')">
            <strong>invalid email</strong>
          </mat-error>
        </mat-form-field>
        <app-password autocomplete="new-password" controlName="password" [parentForm]="mainForm" placeholder="Password"></app-password>
        <app-password autocomplete="new-password" controlName="confirmPassword" [parentForm]="mainForm" placeholder="Confirm Password"></app-password>
      </mat-card-content>
      <mat-card-actions>
         <button mat-stroked-button class="submit-button" (click)="submit()">Submit</button>
         Already registered? <a mat-button color="primary" routerLink="/login">Sign in here.</a>
       </mat-card-actions>
    </mat-card>
  </form>
</div>
