<div class="form-container">
  <app-error-message [(show)]="showForgotTokenExpiredMsg">
    Unable to reset your password.  Click <a color="primary" routerLink="/password/forgot">here</a> to get a new code.
  </app-error-message>
  <app-error-message [(show)]="showLoginAgainMsg">
    Unable to reset your password.  You will need to login again <a color="primary" routerLink="/login">here</a>.
  </app-error-message>
  <app-error-message [(show)]="showOtherMsg">
    An error occured. Unable to change your password.
  </app-error-message>

  <form [formGroup]="mainForm">
    <mat-card>
      <mat-card-title>
        <template *ngIf="changeType === ChangeType.ForgotPassword; then Reset else Change"></template>
        <ng-template #Change>Change Password</ng-template>
        <ng-template #Reset>Reset Password</ng-template>
      </mat-card-title>
      <mat-card-subtitle *ngIf="changeType === ChangeType.ChangeRequired">You must change your password before logining in.</mat-card-subtitle>
      <mat-card-content>
        <app-password *ngIf="changeType === ChangeType.UserRequested" autocomplete="current-password" controlName="currentPassword" [parentForm]="mainForm" placeholder="Current Password"></app-password>
        <app-password autocomplete="new-password" controlName="password" [parentForm]="mainForm" placeholder="New Password"></app-password>
        <app-password autocomplete="new-password" controlName="confirmPassword" [parentForm]="mainForm" placeholder="Confirm Password"></app-password>
      </mat-card-content>
      <mat-card-actions>
         <button mat-stroked-button class="submit-button" (click)="submit()">Submit</button>
       </mat-card-actions>
    </mat-card>
  </form>
</div>
