<div class="form-container">
  <app-error-message [(show)]="showInvalidMsg">
    Invalid username or password.
  </app-error-message>
  <app-error-message [(show)]="showExpiredMsg">
    Unable to reset your password.  Click <a color="primary" routerLink="/password/forgot">here</a> to get a new code.
  </app-error-message>
  <app-error-message [(show)]="showOtherMsg">
    An error occured. Unable to reset your password.
  </app-error-message>

  <form [formGroup]="mainForm">
    <mat-card>
      <mat-card-title>
        <template *ngIf="isChangeByIdentity; then Change else Reset"></template>
        <ng-template #Change>Change Password</ng-template>
        <ng-template #Reset>Reset Password</ng-template>
      </mat-card-title>
      <mat-card-content>
        <mat-form-field class="form-field" *ngIf="isChangeByIdentity">
          <input matInput placeholder="Username or Email" formControlName="username">
          <mat-error *ngIf="mainForm.hasError('required', 'username')">
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <app-password *ngIf="isChangeByIdentity" autocomplete="current-password" controlName="oldPassword" [parentForm]="mainForm" placeholder="Current Password"></app-password>
        <app-password autocomplete="new-password" controlName="newPassword" [parentForm]="mainForm" placeholder="New Password"></app-password>
      </mat-card-content>
      <mat-card-actions>
         <button mat-stroked-button class="submit-button" (click)="submit()">Submit</button>
       </mat-card-actions>
    </mat-card>
  </form>
</div>
