<div class="form-container">
  <app-error-message [(show)]="showErrorUnableToChange">
    <div [ngSwitch]="changeType">
      <span *ngSwitchCase="ChangeType.UserRequested">
        Invalid current password.  Please try again.
      </span>
      <span *ngSwitchCase="ChangeType.ChangeRequired">
        Unable to reset your password.  You will need to login again <a color="primary" routerLink="/login">here</a>.
      </span>
      <span *ngSwitchDefault>
        Unable to reset your password.  Click <a color="primary" routerLink="/password/forgot">here</a> to get a new code.
      </span>
    </div>
  </app-error-message>
  <app-error-message [(show)]="showErrorLoginAgain">
    An error occured.  Unable to reset your password.  You will need to login again <a color="primary" routerLink="/login">here</a>.
  </app-error-message>

  <form [formGroup]="mainForm">
    <mat-card>
      <mat-card-title [ngSwitch]="changeType">
        <span *ngSwitchCase="ChangeType.ForgotPassword">Reset Password</span>
        <span *ngSwitchCase="ChangeType.SetupPassword">Setup Password</span>
        <span *ngSwitchDefault>Change Password</span>
      </mat-card-title>
      <mat-card-subtitle *ngIf="changeType === ChangeType.ChangeRequired">You must change your password before logining in.</mat-card-subtitle>
      <mat-card-content>
        <app-password *ngIf="changeType === ChangeType.UserRequested" autocomplete="current-password" controlName="currentPassword" [parentForm]="mainForm" placeholder="Current Password"></app-password>
        <app-password autocomplete="new-password" controlName="password" [parentForm]="mainForm" placeholder="New Password"></app-password>
        <app-password autocomplete="new-password" controlName="confirmPassword" [parentForm]="mainForm" placeholder="Confirm Password"></app-password>
      </mat-card-content>
      <mat-card-actions>
         <button mat-stroked-button class="submit-button" (click)="submit()">Submit</button>
       </mat-card-actions>
    </mat-card>
  </form>
</div>
