<mat-form-field class="form-field" [formGroup]="parentForm">
  <input matInput [placeholder]="placeholder" [formControlName]="controlName" [type]="showPassword ? 'text' : 'password'" [autocomplete]="autocomplete"/>
  <mat-icon matSuffix (click)="showPassword = !showPassword">{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
  <mat-error *ngIf="parentForm.hasError('required', controlName)">
    <strong>required</strong>
  </mat-error>
  <mat-error *ngIf="parentForm.hasError('minlength', controlName)">
    <strong>minimum length is 8 characters</strong>
  </mat-error>
  <mat-error *ngIf="parentForm.hasError('maxlength', controlName)">
    <strong>maximum length is 256 characters</strong>
  </mat-error>
</mat-form-field>
