<div class="form-container">
  <mat-card class="error-card" *ngIf="showNotEnabledMsg">
    <span>
      <mat-icon class="error-icon" color="warn">error</mat-icon>
      Forgot password handling is not enabled. Please contact your system administrator for assistance.
      <button mat-icon-button class="close-button" (click)="showNotEnabledMsg = !showNotEnabledMsg"><mat-icon>close</mat-icon></button>
    </span>
  </mat-card>
  <mat-card class="error-card" *ngIf="showInvalidMsg">
    <span>
      <mat-icon class="error-icon" color="warn">error</mat-icon>
      Invalid username or email.
      <button mat-icon-button class="close-button" (click)="showInvalidMsg = !showInvalidMsg"><mat-icon>close</mat-icon></button>
    </span>
  </mat-card>
  <mat-card class="error-card" *ngIf="showNoEmailMsg">
    <span>
      <mat-icon class="error-icon" color="warn">error</mat-icon>
      There is no email address for that user, this request cannot be completed
      <button mat-icon-button class="close-button" (click)="showNoEmailMsg = !showNoEmailMsg"><mat-icon>close</mat-icon></button>
    </span>
  </mat-card>

  <form [formGroup]="mainForm">
    <mat-card>
      <mat-card-title>Forgot Password</mat-card-title>
      <mat-card-subtitle>Enter the username or email address you used to create the account. Check your email inbox and click the link in the email you received to reset your password.</mat-card-subtitle>
      <mat-card-content>
        <mat-form-field class="form-field">
          <input matInput placeholder="Username or Email" formControlName="username">
          <mat-error *ngIf="mainForm.hasError('required', 'username')">
            <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
         <button mat-stroked-button class="submit-button" (click)="submit()">Submit</button>
       </mat-card-actions>
    </mat-card>
  </form>
</div>
