<div class="form-container" [ngSwitch]="verificationStatus">
  <div *ngSwitchCase="VerificationStatus.VerifyingEmail">
    <mat-card>
      <mat-card-title>Verifying</mat-card-title>
      <mat-card-content>
        <div class="spinner-container"><mat-spinner></mat-spinner></div>
      </mat-card-content>
      <mat-card-actions>
       </mat-card-actions>
    </mat-card>
  </div>

  <div *ngSwitchCase="VerificationStatus.InvalidToken">
    <form [formGroup]="mainForm">
      <app-error-message [(show)]="showErrorInvalidCode">
        The request contains an invalid or expired verification code. Please request another verification to be sent.
      </app-error-message>
      <app-error-message [(show)]="showErrorResendFailed">
        Unable to resend email verification.  Please try again later.
      </app-error-message>
      <mat-card>
        <mat-card-title>Email verification</mat-card-title>
        <mat-card-subtitle>Complete the form to request a new verification email.</mat-card-subtitle>
        <mat-card-content>
          <mat-form-field class="form-field">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="mainForm.hasError('required', 'email')">
              <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="mainForm.hasError('email', 'email')">
              <strong>invalid email</strong>
            </mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button class="submit-button" (click)="submit()">Submit</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>

  <div *ngSwitchCase="VerificationStatus.EmailVerified">
    <mat-card>
      <mat-card-title>Email verification</mat-card-title>
      <mat-card-content>
        Your email has been verified.  Click <a color="primary" routerLink="/login">here</a> to login.
      </mat-card-content>
    </mat-card>
  </div>
</div>
